<body>
  <div class="row" ng-bing="user">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img *ngIf = "hasPhoto(user)"  src={{user.photo}} alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
          <img *ngIf = "!hasPhoto(user)"  src="../../assets/avatars/avatar.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3">{{user.firstname}} {{user.lastname}}</h5>
          <p class="text-muted mb-1">{{user.username}}</p>
          <p class="text-muted mb-4">{{user.address}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.firstname}} {{user.lastname}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Username</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.username}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.email}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.phone}}</p>
            </div>
          </div>
          <hr>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.address}}</p>
            </div>
          </div>
          <hr>
          <button *ngIf = '!blocked(user)' (click)="updateProfile()">Update profile</button>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <body>
    <table *ngIf = 'update && !blocked(user)'>
        <tr>
            <h2 class="library">Edit profile</h2>
        </tr>
        <tr>
            <td>First name:</td>
            <td>
                <input type='text' name='firstname' [(ngModel)]='newUser.firstname'>
                <br />
            </td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>
                <input type='text' name='lastname' [(ngModel)]='newUser.lastname'>
                <br />
            </td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>
                New phone:
                <input type='text' name='phone' [(ngModel)]='newUser.phone'>
                <br />
            </td>
        </tr>
        <tr>
            <td>email:</td>
            <td>

                <input type='text' name='email' [(ngModel)]='newUser.email'>
                <br />
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>
                <input type='text' name='address' [(ngModel)]='newUser.address'>
                <br />
            </td>
        </tr>
        <tr>
            <td>New photo:</td>
            <td>
                <input type='file' accept="image/png, image/jpg" name='file' (change)="saveImage($event)" id="slika"
                    class="form-control-file border" [(ngModel)]='newUser.photo'>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button (click)='submit()'>submit</button>
            </td>
        </tr>
    </table>

    <div *ngIf="message" class="error">
      {{message}}
  </div>

</body>