<!-- Header -->
<div class = "header">
    <section class="p-menu1">
        <nav id="navbar" class="navigation" role="navigation">
          <input id="toggle1" type="checkbox" />
          <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
          </label>
        
          <nav class="menu1">
            <a class="link1" href="">Main page</a>
            <a *ngIf=" isLogedIn()">
                <a class="link1" href="">LogOut</a>
            </a>
            <a *ngIf=" isLogedIn()">
                <a  class="link1" (click) = 'showChangePassword()' class="open-button">Change Password</a>
            </a>
            <a *ngIf="!isLogedIn()">
                <a class="link1" href="/login">Log In</a>
            </a>
            <a *ngIf="!isLogedIn()">
                <a class="link1" href="/register">Register</a>
            </a>
        </nav>
      </nav>
      </section>
</div>
<br/>
<br/>
<br/>
<br/> -->
<!-- search -->

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>



<router-outlet></router-outlet>

<div class="form-popup" id="myForm">
    <form class="form-container">
      <h1>Change password</h1>
  
      <td>*Old password: </td>
      <td>
          <input type='password' name='oldPassword' [(ngModel)]='oldPassword'>
      </td>
      <br/>
      <td>*New password: </td>
      <td>
          <input type='password' name='newPassword' [(ngModel)]='newPassword'>
      </td>
      <br/>
      <td>*Confirm new password: </td>
      <td>
          <input type='password' name='confirmPassword' [(ngModel)]='confirmPassword'>
      </td>
      <button (click) = "changePassword()" class="btn">Submit</button>
    </form>
  </div>

  <div *ngIf="message" class="error">
    {{message}}
</div>

<!-- <br/>
<br/>
<br/> -->
<footer class="footer">
    Copyright © 2022 Andrijana 
</footer>