<!-- Header -->
<div class = "header">
    <section class="p-menu1">
        <a *ngIf = "isLogedIn()">
          <img src="../assets/avatars/avatar.png" alt="..." class="img-avatar" (click)="goToProfile()">
        </a>
        <nav id="navbar" class="navigation" role="navigation">
          <input id="toggle1" type="checkbox" />
          <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
          </label>
        
          <nav class="menu1">
            <a class="link1" href="">Main page</a>
            <a *ngIf=" isLogedIn()">
                <a class="link1" href="">LogOut</a>
            </a>
            <a *ngIf="isLogedIn()">
                <a  class="link1" (click) = 'showChangePassword()'>Change Password</a>
            </a>
            <a *ngIf="isLogedIn()">
              <a class="link1" (click) = 'back()'>Back</a>
            </a>
            <a *ngIf="!isLogedIn()">
                <a class="link1" href="/login">Log In</a>
            </a>
            <a *ngIf="!isLogedIn()">
                <a class="link1" href="/register">Register</a>
            </a>
        </nav>
      </nav>
      </section>
</div>
<!-- 
<br/>
<br/>
<br/>
<br/>
<br/> -->



<!-- <body class="wrapper"> -->
<router-outlet></router-outlet>
<!-- </body> -->

<!-- <div class="form-popup" id="myForm">
    <form class="form-container">
      <h1>Change password</h1>
  
      <td>*Old password: </td>
      <td>
          <input type='password' name='oldPassword' [(ngModel)]='oldPassword'>
      </td>
      <br/>
      <td>*New password: </td>
      <td>
          <input type='password' name='newPassword' [(ngModel)]='newPassword'>
      </td>
      <br/>
      <td>*Confirm new password: </td>
      <td>
          <input type='password' name='confirmPassword' [(ngModel)]='confirmPassword'>
      </td>
      <button (click) = "changePassword()" class="btn">Submit</button>
    </form>
  </div>

  <div *ngIf="message" class="error">
    {{message}}
</div> -->

<!-- <br/>
<br/>
<br/> -->
<!-- 
<br/>
<br/>
<br/>
<br/>
<br/> -->
<footer class="footer">
    Copyright © 2022 Andrijana 
</footer>