<!-- <div class = "header">
    <li>LIBRARY</li> -->
<!-- <ul class="nav">
  <li class = "nav-li">
    <a href="">
      <div class = "title">Main page</div>
    </a>
  </li>
  
  <li class = "nav-li">
    <a href="/login">
      <div class = "title">Login</div>
    </a>
  </li>
  
  <li class = "nav-li">
    <a href="/register">
      <div class = "title">Register</div>
    </a>
  </li>
</ul>
</div> --> -->
<!-- 
<table>
  <tr>
      <th>Title</th>
      <th>Subtitle</th>
  </tr>
  <tr *ngFor="let n of top3">
      <td>{{n.title}}</td>
      <td>{{n.subtitle}}</td>
  </tr>
</table> -->
<br/>
<br/>
<br/>
<br/>

<div id="large-th">
  <div class="container-books">
    <h1>Top three books</h1>
    <br>
    <div class="choose">
      <a href="#list-th"><i class="fa fa-th-list" aria-hidden="true"></i></a>
      <a href="#large-th"><i class="fa fa-th-large" aria-hidden="true"></i></a>
    </div>
    <div id="list-th" *ngFor="let n of top3">
      <div class="book read">
        <div class="cover">
          <img src="../../assets/books/{{n.title}}.jpg">
        </div>
        <div class="description">
          <p class="title">{{n.title}}<br>
            <span class="author">{{n.author}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- <footer class="footer">
    <a routerLink="/login"> Login page</a>
</footer> -->