<body>
<table class="logIn">
    <tr>
        <h2 class="library">Library</h2>
    </tr>
    <tr>
        <td>Username: </td>
        <td>
            <input type="text" name = "username" [(ngModel)]="username">
        </td>
    </tr>
    <tr>
        <td>Password: </td>
        <td>
            <input type="password" name = "password" [(ngModel)]="password">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="login()">LogIn</button>
        </td>
    </tr>

</table>
<div *ngIf="message" class="error">
    {{message}}
</div>


<div class="register">
    Click here to <a routerLink="/register"> register</a>
</div>


</body>