
<!-- search -->

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form  #searchData = "ngForm" (ngSubmit) = "searchBook(searchData.value)" class="search">
  <input type="text" placeholder="Search.." name="search" ngModel>
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<!-- books -->

<div id="large-th" *ngIf="!searched">
    <div class="container-books">
      <h1>Book of the day</h1>
      <br>
      <div id="list-th"  ng-bind="bookOfTheDay">
        <div class="book read">
          <div class="cover">
            <img src="../../assets/books/{{bookOfTheDay.title}}.jpg"  (click)= "showBook(bookOfTheDay)">
          </div>
          <div class="description">
            <p class="title">{{bookOfTheDay.title}}<br>
              <span class="author">{{bookOfTheDay.author}}</span><br>
              <span class="author">{{bookOfTheDay.score}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="large-th" *ngIf="!searched">
    <div class="container-books">
      <h1>Borrowed books</h1>
      <br>
      <div id="list-th" *ngFor="let n of borrowedBooks">
        <div class="book read">
          <div class="cover">
            <img src="../../assets/books/{{n.title}}.jpg" (click) = "showBook(n)">
          </div>
          <div class="description">
            <p class="title">{{n.title}}<br>
              <span class="author">{{n.author}}</span></p>
          </div>
          <!-- <div class="description">
            <span class="author" value="getDate(n)" ngBind = "date">{{date}}</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
<div id="large-th" *ngIf="searched">
    <div class="container-books">
      <h1>Searched books</h1>
      <br>
      <div id="list-th" *ngFor="let n of searchedBooks">
        <div class="book read">
          <div class="cover">
            <img src="../../assets/books/{{n.title}}.jpg" (click) = "showBook(n)">
          </div>
          <div class="description">
            <p class="title">{{n.title}}<br>
              <span class="author">{{n.author}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

<footer class="footer">
    <a routerLink=""> Login page</a>
</footer>