<body class="wrraper">
<!-- search -->

<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form  #searchData = "ngForm" (ngSubmit) = "searchBook(searchData.value)" class="search">
  <input type="text" placeholder="Search.." name="search" ngModel>
  <select multiple name="genre" id="type" [(ngModel)]="genres" >
    <option value="romantic">Romantic</option>
    <option value="education">Education</option>
    <option value="science fiction">Science Fiction</option>
    <option value="comedy">Comedy</option>
    <option value="horror">Horror</option>
    <option value="drama">Drama</option>
    <option value="mystery">Mystery</option>
</select>
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br/>
<br/>
<button *ngIf="isModerator() && !blocked(current)" (click)="addNewBook()">Add new book</button>
<br/>
<br/>
<h4 *ngIf="blocked(current)" >Blocked by admin</h4>
<br/>
<br/>
<!-- books -->
<table>
  <div id="large-th" *ngIf="!searched">
    <div class="day">
        <th>Book of the day</th>
        <th>Description</th>
        <br>
        <tr id="list-th"  ng-bind="bookOfTheDay">
          <td class="book read">
            <div class="cover">
              <img  *ngIf = "hasPhoto(bookOfTheDay)" src={{bookOfTheDay.photo}} (click)= "showBook(bookOfTheDay)">
              <img  *ngIf = "!hasPhoto(bookOfTheDay)" src="../../assets/books/book.jpg" (click)= "showBook(bookOfTheDay)">
            </div>
          </td>
          <td>
            <div class="description">
              <p class="title">{{bookOfTheDay.title}}<br>
                <span class="author">{{bookOfTheDay.author}}</span><br>
                <span class="author">{{bookOfTheDay.score}}</span></p>
            </div>
          </td>
        </tr>
      <br/>
        <table>
          <!-- <h3>Borrowed books</h3> -->
          <br>
          <div id="list-th" *ngFor="let n of borrowed">
              <th>Borrowed books</th>
              <th>Description</th>
              <th>Days to give back</th>
              <th>Actions</th>
              <tr>
                <td class="book read">
                  <div class="cover">
                    
                    <img  *ngIf = "hasPhoto(n.book)" src={{n.book.photo}} (click)= "showBook(n.book)">
                    <img  *ngIf = "!hasPhoto(n.book)" src="../../assets/books/book.jpg" (click)= "showBook(n.book)">
                    
                  </div>
                </td>
                <td>
                  <div class="description">
                    <p>{{n.book.title}}<br>
                      <span>{{n.book.author}}</span></p>
                  </div>
                </td>
                <td>
                  <div class="description">
                    <span [ngStyle]="{'color': getColor(n.days)}">{{n.days}}</span>
                  </div>
                </td>
                <td>
                  <button *ngIf = "!n.extended && !blocked(current)" (click) = "extend(n.book)">Extend</button>
                  <button *ngIf = "!blocked(current)" (click)="showBook(n.book)">About book</button>
                  <button  (click)="giveBack(n.book)">Give back</button>
                </td> 
              </tr>
          </div>
       </table>
    </div>
  </div>
  <div *ngIf="noBorrowedBooks()">
    <h1>No borrowed books</h1>
  </div>
 </table> 

<div *ngIf="searched" class="card-deck">
  <div class="card border-0  bg-transparent" *ngFor="let n of searchedBooks">
    <img class="card-img-top" *ngIf = "hasPhoto(n)" src={{n.photo}} (click)= "showBook(n)" alt="Card image cap" style="width: 5rem; height: 5rem;">
    <img class="card-img-top" *ngIf = "!hasPhoto(n)" src="../../assets/books/book.jpg" (click)= "showBook(n)" alt="Card image cap" style="width: 5rem; height: 5rem;">
    <div class="card-body">
      <p class="card-text">
          {{n.title}}<br>
          <span class="author" >{{n.author}}</span><br/>
          <span class="author" >{{n.genre}}</span>
      </p>
    </div>
  </div>
</div>


</body>
  <body>
  <button (click) = 'history()'>History</button>
  <button *ngIf="!isModerator() && !blocked(current)" (click)="addBook()">Request a new book</button>
  <button *ngIf="isModerator() && !blocked(current)" (click)="bookRequests()">See book requests</button>
  </body>

