<body>
    <table ng-bind="user" ng-init="getUser()">
        <tr>
            <h2 class="library">Edit user data</h2>
        </tr>
        <tr>
            <td>First name:</td>
            <td>
                Old firstname:
                <output type='text' name='firstname'>{{user.firstname}}</output>
                <br />
                New firstname:
                <input type='text' name='firstname' [(ngModel)]='newUser.firstname'>
                <br />
            </td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>
                Old lastname:
                <output type='text' name='lastname'>{{user.lastname}}</output>
                <br />
                New lastname:
                <input type='text' name='lastname' [(ngModel)]='newUser.lastname'>
                <br />
            </td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>
                Old phone:
                <output type='text' name='phone'>{{user.phone}}</output>
                <br />
                New phone:
                <input type='text' name='phone' [(ngModel)]='newUser.phone'>
                <br />
            </td>
        </tr>
        <tr>
            <td>email:</td>
            <td>
                Old email:
                <output type='text' name='email'>{{user.email}}</output>
                <br />
                New email:
                <input type='text' name='email' [(ngModel)]='newUser.email'>
                <br />
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>
                Old address:
                <output type='text' name='address'>{{user.address}}</output>
                <br />
                New address:
                <input type='text' name='address' [(ngModel)]='newUser.address'>
                <br />
            </td>
        </tr>
        <tr>
            <td>New photo:</td>
            <td>
                <input type='file' accept="image/png, image/jpg" name='file' (change)="saveImage($event)" id="slika"
                    class="form-control-file border" [(ngModel)]='newUser.photo'>
            </td>
        </tr>
        <tr>
            <td>Change privilege:</td>
            <td>
                Old privilege:
                <output type='text' name='address'>{{getType(user.type)}}</output>
                <br />
                New privilege:
                <td>
                    <label for="type">Select a type: </label>
                    <select name="type" id="type" [(ngModel)]="newUser.type">
                        <option value="0">Reader</option>
                        <option value="2">Moderator</option>
                    </select>
                </td>
                <br />
        </tr>
        <tr>
            <td colspan='2'>
                <button (click)='submit()'>submit</button>
            </td>
        </tr>
    </table>


    <div *ngIf="message" class="error">
        {{message}}
    </div>

</body>