<body>
   <!-- Adming editing users -->

   <body>
    <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Username</th>
                <th>Photo</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let n of users">
                <td>
                    <output type='text' name='FirstName' value="n.firstname">{{n.firstname}}</output>
                </td>
                <td>
                    <output type='text' name='LastName'>{{n.lastname}}</output>
                </td>
                <td>
                    <output type='text' name='Username'>{{n.username}}</output>
                </td>
                <td>
                    <img *ngIf="hasPhoto(n)" src={{n.photo}} width="100px" height="100px">
                    <img *ngIf="!hasPhoto(n)" src="../../assets/avatars/avatar.png" width="100px" height="100px">
                </td>
                <td>
                    <output type='text' name='Email'>{{n.email}}</output>
                </td>
                <td>
                    <output type='text' name='Phone'>{{n.phone}}</output>
                </td>
                <td>
                    <output type='text' name='Address'>{{n.address}}</output>
                </td>
                <td colspan="3">
                    <button (click)='edit(n)'>Edit User</button>
                </td>
                <td colspan="3">
                    <button *ngIf = "canDelete(n)" (click)='delete(n)'>Delete User</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>