<div id="large-th">
    <div class="container-books">
      <br>
      <div id="list-th"  ng-bind="clicked">
        <div class="book read">
          <div class="cover">
            <img src="../../assets/books/{{clicked.title}}.jpg">
          </div>
          <div class="description">
            <p class="title">{{clicked.title}}<br>
              <span class="author">{{clicked.author}}</span><br>
              <span class="author">{{clicked.amount-clicked.borrowed}}</span><br>
              <span class="author">{{clicked.score!=0?clicked.score:null}}</span></p>
          </div>
        </div>
      </div>
      <!-- tu mu trebaju ispisani komentari -->
    </div>
    <button *ngIf="clicked.amount-clicked.borrowed" (click)="borrow()">Take</button>
    <br/>
    <button *ngIf="isModerator()" (click)="editData()">Edit data</button>
    <br/>
    <div *ngIf="canComment()" >
      Comment:
      <input type='text' name='comment' [(ngModel)]='comment' width="100%" maxlength="1000"> 
      Grade (between 1 and 10):
      <input type='number' name='grade' [(ngModel)]='grade' max="10" min="0"> 
      <button (click)="addComment()">Add comment</button>
    </div>
  </div>

  <div *ngIf="message" class="error">
    {{message}}
</div>

