 /******************************************
 Book stuff
 *******************************************/
 
 .book {
    display: inline-block;
    float: left;
    max-width: 300px;
    max-height: 480px;
    box-shadow: 0 0 20px #aaa;
    margin: 25px;
    padding: 10px 10px 0 10px;
    vertical-align: top;
    transition: height 1s;
  }
  /* star button
  .book:after {
    font-family: FontAwesome;
    content: "\f006";
    font-size: 35px;
    position: relative;
    left: -.1cm;
    top: -1.6cm;
    float: right;
  } */
  
  .cover {
    border: 2px solid gray;
    height: 80%;
    overflow: hidden;
  }
  
  .cover img {
    width: 100%;
  }
  
  .book p {
    margin-top: 12px;
    font-size: 20px;
  }
  
  .book .author {
    font-size: 15px;
  }
  @media (max-width: 941px) {
    .container {
      max-width: 700px;
    }
    .book {
      margin: 49px;
    }
  }
  @media (max-width: 730px) {
    .book {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }
  }


  /* comm */
  /* body{margin-top:20px;} */

.align-center {
    text-align: center;
}
.hash-list {
    background-color: #9da8d9;
    /* display: block; */
    /* padding: 0; */
    /* margin: 0 auto; */
}

.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* .pad-30, .pad-30-all > * {
    padding: 30px;
}

.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
} */
/* .wpx-100, .wpx-100-after:after {
    width: 100px;
} */
/* .padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
} */
.align-center {
    text-align: center;
}
/* [class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #7689de;
} */
/* .fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 500 !important;
} */

.comment{
  background-color: #7689de;
}