<body>
    <table>
        <thead>
        <tr>
            <th>
                <button (click)="changeOrder('title')" ng-click="orderByField='title'; reverseSort = !reverseSort">
                    Title <span ng-show="orderByField == 'title'"></span>
                </button>
            </th>
            <th>
                <button (click)="changeOrder('author')"  ng-click="orderByField='Author'; reverseSort = !reverseSort">
                    Author <span ng-show="orderByField == 'Author'"></span>
                </button>
            </th>
            <th>
                <button (click)="changeOrder('Date took')" ng-click="orderByField='Date took'; reverseSort = !reverseSort">
                    Date took <span ng-show="orderByField == 'Date took'"></span>
                </button>
            </th>
            <th>
                <button (click)="changeOrder('Date returned')" ng-click="orderByField='Date returned'; reverseSort = !reverseSort">
                    Date returned <span ng-show="orderByField == 'Date returned'"></span>
                </button>
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let n of borrowed">
            <td>
                <output type='text'>{{n.book.title}}</output>
            </td>
            <td>
                <output type='text'>{{n.book.author}}</output>
            </td>
            <td>
                <output type='text'>{{n.taken.toLocaleString('en-US')}}</output>
            </td>
            <td>
                <output type='file'>{{n.returned.toLocaleString('en-US')}}</output>
            </td>
            <td>
                <button  (click) = 'showBook(n.book)'>Show book</button>
            </td>
        </tr>
    </tbody>
    </table>